body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

hr {
  border-color: lightgray;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  margin: 100px auto;
  width: 3%;
}

h1 {
  color: #66BFBF;
  display: inline-block;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  margin: 0;
  margin-top: 100px;
  width: 250px;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

a:active{
  color: #11999E;
}

.nav-link{
  text-align: justify;
}

.top-profile {
}

.first-letter {
  font-size: 7rem;
}


.bottom-cloud {
  position: absolute;
  left: 300px;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 150px;
}

.mountain{
  height: 50%;
  width: 50%;

}

.middle-container {
 background-color: #EAF6F6;
 padding: 100px 0;
}

.profile-description {
  margin: 0 auto;
  width: 30%;
}

.contact-message {
  margin: 0 auto 50px;
  width: 30%;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 20px 0;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.programmer-img {
  padding-bottom: 50px;
}

.computer-img {
  float: left;
  padding-right: 30px;
  width: 25%;
}

.chillies-img {
  float: right;
  padding-left: 30px;
  width: 25%;
}

.footer-link {
  display: inline-block;
  margin: 32px;
  margin-bottom: 0;
  width: 50px;
}

.footer-link:hover{
  text-decoration: none;
}



/* Login */

.login{
  background-color: #E4F9F5;
  height: 420px;
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
}

input[type="submit"]{
  border-radius: 20px;
}


@media (max-width: 420px) {

  body {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 2.5rem;
    width: 125px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .first-letter {
    font-size: 3.75rem;
  }

  .top-cloud {
    position: absolute;
    right: 300px;
    left: 25px;
    top: 150px;
    width: 2.5rem;
  }

  .bottom-cloud {
    left: 250px;
    width: 2.5rem;
  }

  .mountain{
    height: 50%;
    width: 95%;
  }

  .programmer-img {
    width: 25%;
  }

  .top-container h2 {
    font-size: 1rem;
  }

  .middle-container {
    padding: 50px 0;
  }

  hr {
    margin: 50px auto;
    width: 12%;
  }

  .profile-description {
    width: 90%;
  }

  .skill-row {
    margin: 50px auto 75px auto;
    width: 90%;
  }

  .skill-row img {
    float: left;
    padding: 0;
    padding-right: 0.75rem;
    width: 15%;
  }

  .contact-message {
    width: 75%;
}

.footer-link {
    margin: 16px;
}
}
